<%owner ||= false%>
<div class='box columns is-multiline mb-6 is-vcentered'>

  <div class='column '>
    <h6 class='title is-6 mb-1'> <%=biz.name%> </h6>
    <p class='is-size-7 has-text-weight-semibold	'> <%=biz.category.name%> </p>
    <p class='is-size-5 has-text-success mt-3'> <%=biz.avg_rating_with_star%> </p>
    <%= link_to "view all", business_reviews_path(biz)%>

  </div>
  <div class='column'>
    <p class='is-size-7'> <%=biz.phone%> </p>
    <p class='is-size-7'> <%=biz.address%> </p>
    <p class='is-size-7'> <%=biz.city%> <%=biz.state%> <%=biz.zip%> </p>
    <p class='is-size-7 has-text-weight-semibold'>
      <%=biz.open? ? 'OPEN' : 'CLOSE'%>
    </p>
  </div>
  <div class='column is-5 has-text-right	'>

    <div class='columns is-multiline is-vcentered is-pulled-right'>

      <%if owner%>
      <div class='column is-narrow'>
        <%= link_to "Edit", edit_business_path(biz), class: 'button ' %>
      </div>
      <%else%>

      <ul class='column'>
        <%biz.get_hours.each do |hour|%>
        <li class='is-size-7'>
          <%=hour%>
        </li>
        <%end%>
      </ul>
      <%end%>
    </div>


  </div>
</div>