<%= form_with url: '/session', method: :post, class: 'columns is-multiline' do %>

<%= render partial: "forms/title_err_msg", locals: {title: 'Sign In'} %>

<%= render partial: "forms/text_field", locals: { name: :email} %>

<%= render partial: "forms/text_field", locals: { name: :password} %>

<div class="column is-12">
  <%= submit_tag "Sign In", class: "button is-info mr-3" %>
</div>

<% end %>

<%= button_to "Log in with Google", '/auth/google_oauth2', class: "button is-danger" %>