    <%= form_with model: @user, class: 'columns is-multiline'  do |f| %>

    <%= render partial: "forms/title_err_msg", locals: {title: 'Sign Up'} %>

    <%= render partial: "forms/text_field", locals: {f: f, name: :first_name} %>
    <%= render partial: "forms/text_field", locals: {f: f, name: :last_name} %>
    <%= render partial: "forms/text_field", locals: {f: f, name: :email} %>
    <%= render partial: "forms/text_field", locals: {f: f, name: :password} %>

    <div class="column is-12">
      <%= f.submit class: "button is-info mr-3" %>
    </div>
    <% end %>
    <%= button_to "Sign up with Google", '/auth/google_oauth2', class: "button is-danger" %>