<%col_size ||= 'is-6'%>
<%label ||= nil%>
<%f ||= nil%>

<div class="field column <%= col_size%>">
  <%if f%>
  <%= f.label name, label, class: "label" %>
  <%= f.password_field name, class: "input" %>
  <%else%>
  <%= label_tag name, label, class: "label" %>
  <%= password_field_tag name, nil, class: "input" %>
  <%end%>
</div>