<%= form_with model: [@business, @review], class: 'columns is-multiline' do |f| %>

<%= render partial: "forms/title_err_msg", locals: {title: "Review for #{@business.name}"} %>

<div class="field column is-12">
  <%= f.label :rating, 'Rating',class: "label" %>
  <div class='select is-normal'>
    <select id="review_rating" name="review[rating]">
      <%[*1..5].each do |rating|%>
      <option value=<%=rating%>><%=rating%></option>
      <%end%>
    </select>
  </div>
</div>

<div class="field column is-12">
  <%= f.label :content, 'Feedback',class: "label" %>
  <%= f.text_area :content, class: "textarea" %>
</div>

<%=f.hidden_field :business_id%>

<div class="column is-12">
  <%= f.submit class: "button is-info" %>
</div>

<% end %>