<div class='container mt-5 is-max-desktop'>
  <%= link_to "Home", root_path, class: 'button is-primary' %>



  <h1 class='title mt-5'>My reviews</h1>
  <%@reviews.each do |review|%>
  <article class="media is-vcentered">
    <figure class="media-left">
      <p class="image is-34x34 ">
        <img src=<%="#{review.user.thumbnail}"%>>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <div class='columns  is-multiline'>
          <div class='column'>
            <p>
              <strong><%=review.user.full_name%> </strong>
              <br>
              Business: <%= link_to review.business.name,  business_reviews_path(review.business) %>
              <br>
              <%=review.content%>
            </p>
          </div>
          <div class='column is-narrow '>
            <p class='has-text-success'><%=review.rating_with_stars%></p>
            <%= link_to "delete", review_path(review), method:'delete', class: 'button is-danger is-inverted' %>


          </div>
        </div>

      </div>
    </div>
  </article>
  <%end%>
</div>