<nav class="max-width notification is-primary is-radiusless mb-0">
  <div class=" columns is-centered is-vcentered">
    <div class="column is-one-quarter">
      <%= link_to "Bizzy", root_path, class: 'is-size-3 has-text-weight-boldutton'%>
    </div>
    <div class="column">
    </div>
    <%if logged_in%>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
          <%=current_user.owner? ? 'owner' : 'not owner'%>
          <span class='has-text-weight-semibold is-capitalized'><%=session[:user_id]%> <%=user_full_name%></span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
          <%= link_to 'My business', business_listings_path, class: 'dropdown-item' %>

          <hr class="dropdown-divider">
          <%= link_to "Log Out", session_path,method:'delete', class: 'dropdown-item' %>
        </div>
      </div>
    </div>
    <%else%>
    <div class="column is-narrow">
      <%= link_to "Sign in", '/signin', class: 'button'%>
    </div>
    <div class="column is-narrow">
      <%= link_to "Sign up", '/signup', class: 'button' %>
    </div>
    <%end%>
  </div>
</nav>