<!DOCTYPE html>
<html>

<head>
  <title>Bizzy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%if current_user%>
  <p>Id: <%=current_user.id%> </p>
  <p>email: <%=current_user.email%> </p>
  <%end%>

  <%= link_to "Log Out", session_path,method:'delete' %>
  <%= link_to "Sign in", '/signin' %>
  <%= link_to "Sign up", '/signup' %>
  <%= yield %>
</body>

</html>