<!DOCTYPE html>
<html>

<head>
  <title>Bizzy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render  "layouts/nav" %>

  <%if flash[:alert]%>
  <div class='px-5 notification-wrapper'>
    <div class="notification container is-max-desktop is-info ">
      <button onclick="this.parentNode.style.display='none'" class="delete"></button>
      <%=flash[:alert]%>
    </div>
  </div>
  <%end%>


  <%= yield %>

</body>

</html>